<h1>ngx D3 Starter Pack</h1>
<ul>
  <li>
    <h2>Line Chart</h2>
    <app-line [data]="revenue"
      [yAxisTitle]="'Revenue'"
      [xAxisTitle]="'Week Beginning'"
      [widthHeightRatio]="0.8">
    </app-line>
  </li>
  <li>
    <h2>Line Chart (Secondary y axis)</h2>
    <app-line [data]="newCustomers"
      [xAxisTitle]="'Week Beginning'"
      [widthHeightRatio]="0.8">
    </app-line>
  </li>
  <li>
    <h2>Pie Chart</h2>
    <app-pie [data]="genderData">
    </app-pie>
  </li>
  <li>
    <h2>Venn Diagram</h2>
    <app-venn [widthHeightRatio]="1"
      [data]="vennData"></app-venn>
  </li>
  <li class="full_width">
    <h2>Bar Chart</h2>
    <app-bar [data]="ageData"
      [xAxisTitle]="'Age Range'"
      [widthHeightRatio]="0.6"
      [yAxisTitle]="'Customers'"
      [showPercentage]="true">
    </app-bar>
  </li>
  <li class="full_width">
    <h2>World Map</h2>
    <app-map [data]="populationData"
      [widthHeightRatio]="0.8"
      [dataTitle]="'People'"></app-map>
  </li>
</ul>
