ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
}

li {
  padding: 36px;
  flex: 0 1 calc(50% - 72px);
}

li.full_width {
  flex: 0 1 calc(100% - 72px);
}

h2 {
  border-bottom: solid 1px #dddddd;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1200px) {

  ul {
    display: block;
  }

  li,
  li.full_width {
    padding: 24px;
    flex: unset;
  }
}
