mat-radio-group {
  display: block;
  text-align: right;
  margin-bottom: 18px;
}

mat-radio-button {
  margin-left: 12px;
}

table {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-spacing: 0px;
}


table>thead>tr>th,
table>tbody>tr>td {
  padding: 6px;
  text-align: left;
  border: none;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  color: #37474F;
}


table>thead>tr>th:first-child,
table>tbody>tr>td:first-child {
  border-left: none;
}


table>thead>tr>th:last-child,
table>tbody>tr>td:last-child {
  border-right: none;
}

table>tbody>tr>td {
  font-weight: normal;
  font-size: 12px;
}

table>tbody>tr:nth-child(odd)>td {
  background-color: #F2F3F4;
}

@media (max-width: 840px) {
  table {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
